.box {
  border: 0px none;
  height: 148px;
  position: relative;
  width: 157px;
}

.box .div {
  border: 1px dashed;
  border-color: var(--color-setprimarymain);
  border-radius: 5px;
  height: 148px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 157px;
}

.box .style-filled {
  left: 16px !important;
  position: absolute !important;
  top: 16px !important;
}

.box .icon-instance-node-3 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.box .style-stroke {
  left: 16px !important;
  position: absolute !important;
  top: 60px !important;
}

.box .style-filledgreytext {
  left: 16px !important;
  position: absolute !important;
  top: 104px !important;
}
